alabaster==1.0.0
babel==2.17.0
certifi==2025.1.31
cftime==1.6.4.post1
charset-normalizer==3.4.1
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
d-geolib==2.3.0
d-geolib-plus==0.4.1
docutils==0.21.2
fonttools==4.56.0
idna==3.10
imagesize==1.4.1
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
lxml==4.9.4
MarkupSafe==3.0.2
matplotlib==3.10.1
more-itertools==10.6.0
netCDF4==1.7.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
patsy==1.0.1
pillow==11.1.0
probabilistic-library @ file:///C:/Users/mavritsa/Repositories/ms5-asset-performance/probabilistic_library-25.1.1-py3-none-any.whl#sha256=27ce4fbe6f67b74e8eee1c5067e602090b5cf9d7a61179bff1a7cc8fad10b632
pydantic==1.10.21
Pygments==2.19.1
pyparsing==3.2.1
pyproj==3.7.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
roman-numerals-py==3.1.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shapely==2.0.7
six==1.17.0
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinx-math-dollar==1.2.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
statsmodels==0.14.4
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
zipp==3.21.0
