# Remote data folder path
#REMOTE_PATH=P:\ms5-smart-and-resilient-infra\asset-performance\Case studies 2026\Settlement example
REMOTE_PATH=/Users/amavrits/repositories/ms5-asset-performance/case_studies/settlement_example/mock
USER=antonis
