# Remote data folder path for D-Sheet case study
#REMOTE_DATA_PATH=case_studies/dsheet_example/mock/data
REMOTE_DATA_PATH=P:\ms5-smart-and-resilient-infra\asset-performance\Case studies 2026\ARK example\data
